*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
  }
  
html
{
    scroll-behavior: smooth !important;
}
  body {
    cursor: url('cursor.png'), auto;
    line-height: 1.5;
  }
 
  @font-face {
    font-family: 'Menlo';
    src: url('Menlo-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  .main_container
  {
    scroll-snap-type: y mandatory;
    overflow-y: hidden;
    height: 100vh;
  }
  
  section
  {
    height: 100vh;
    scroll-snap-align: start;
    display: block;
  }

  .main_screen
  {
    background: url("bimag.jpg") no-repeat center center;
    height: 100vh;
    background-size: cover;
  }

  .main_logo
  {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveUpDown 3s linear infinite;
  }
  #center_img
  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 70%;
  }

  .item3 { grid-area: main; justify-self: start; align-self: center;}
  .item4 { grid-area: right; justify-self: end; align-self: center;}
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'main main main main right right';
    gap: 10px;
    padding: 10px;
  }
  
  .grid-container > div {
    text-align: center;
    font-size: 20px;
  }

  #space_bar {
    width: 150px;
    height: auto;
    
  }

  .press-start
  {
    text-align: center;
    margin-top: 60px;
  }


  .press-start-text {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    margin-top: 15px;
    font-style: normal;
  }

  .space-container {
    position: relative;
    /* on hover cahnge the cursor */
    cursor: url('hover.png'), auto;
  
  }
  #space-container:hover {
    animation: jump 0.6s infinite;
  }

  .space-text {
    font-family: "Press Start 2P", system-ui;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
  }
/* stick it to bottom */

.center_bottom_scroll_icon
{
    bottom: 0;
    left: 50%;
    padding-bottom: 10px;
    position: absolute;
    cursor: url('hover.png'), auto;
}

#scroll_icon
{
  width: 35px;
  height: auto;
  animation: moveUpDown 2s linear infinite;
}

@keyframes moveUpDown {

  0%,
  100% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-7px);
  }
}

@keyframes jump {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

#coin  {
  transition: transform 0.6s;
  cursor: url('hover.png'), auto;
}

#coin:hover {
  animation: jump 0.6s infinite;
}



.game_options_div
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.game_options
{
  font-family: Menlo;
  width: 520px;
    height: auto;
    background-color: rgb(45, 46, 44);
    border-radius: 6px;
    color: rgb(239, 239, 239);
    padding: 20px;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 14px;
    display: flex ;
    flex-direction: column;
    margin-top: -2rem;
    cursor: url('cursor.png'), auto;
    border: 2px solid rgb(248, 248, 248);
}

/* Show arrow icon when radio button is checked */
.option-radio:checked + .custom-icon::before {
  opacity: 1;
  animation: blink-animation 1s infinite;
  /* Stop blinking when checked */
}


/* Hide the radio buttons */
.option-radio {
  
  display: none;
}

.cursor
{
  
  cursor: url('hover.png'), auto;

}

.custom-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle; /* Aligns the text vertically in the middle */
}

.custom-icon::before {
  content: ""; /* Empty content */
  background: url('arrow.png') no-repeat; /* Replace with your image source */
  background-size: 13px 13px; /* Adjust as needed */
  position: absolute;
  margin-top: 4px;
  left: -17px; /* Adjust as needed */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
  animation: none; /* Apply blinking animation */
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  display: inline-block;
  vertical-align: middle; /* Aligns the image vertically in the middle */
}

.quiz_start
{
  border-image-slice : 2;
  margin-top: 20px;
  width: 150px;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(225, 61, 49);
  font-family: "Press Start 2P", system-ui;
  /* text color */
  color: rgb(239, 239, 239);
  box-shadow: inset -4px -4px #8c2022;
  border: 4px solid rgb(0, 0, 0);
}

.quiz_start:hover
{
  background-color: #b6291f ;
  box-shadow: inset -5px -5px #8c2022;
  border: 4px solid rgb(0, 0, 0);
  cursor: url('hover.png'), auto;
}

.snowflake {
  position: absolute;
  z-index: 2;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white);
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);
}

.quit-icon {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: "Press Start 2P", system-ui;
  color:#b6291f;
  cursor: url('hover.png'), auto;
}