{% extends 'base.html' %}


{% block title %}
{% endblock %}

{% block head %}
<!-- js -->
<script src = "static/js/main.js"></script>

{% endblock %}


{% block main %}
<div class="main_container">
    <section class="main_div cont">
        <div class="container-fluid mt-3 ms-3">
            <div class="row">
                <div class="col-md-6">
                    <img src="static/img/coin.gif" style="width: 30px; height: auto" class="img-fluid" id="coin">
                    <span id="coin_count" class="press-start text-light align-self-center ">1234</span>
                </div>
                <div class="col">
                    Column
                </div>
            </div>
        </div>
        <!-- <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <p>Your text goes here.</p>
            </div>
            <div class="col-md-6">
                <img src="static/img/coin.gif" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div> -->
        <div class="main_logo">
            <!-- ADD TO THE SRC IMG https://getwallpapers.com/wallpaper/full/d/d/9/611714.jpg -->
            <img id="center_img" src="static/img/Nilesh-Kumar-Mandal.png" alt="center_img">
        </div>
        <div class="press-start">
            <div calss="container">
                <span class="press-start-text" style="color: white;">Press
                    <span class="space-container">
                        <span class="space-text">space</span>
                        <img src="static/img/space-bar.png" alt="Spacebar" id="space_bar">
                    </span>
                    to start
                </span>
            </div>
        </div>
        <div class="game_options">
            <p>Select Destination</p>

            <label class="cursor ps-4" style="display: flex; padding: 2px;">
                <input type="radio" class="option-radio" name="answer" value="portfolio" checked>
                <span class="custom-icon">Profile Portal</span>
            </label>
            <label class="cursor ps-4" style="display: flex; padding: 2px;">
                <input type="radio" class="option-radio" name="answer" value="github">
                <span class="custom-icon">GitHub Realm</span>
            </label>
            <label class="cursor ps-4" style="display: flex; padding: 2px;">
                <input type="radio" class="option-radio" name="answer" value="linked_in">
                <span class="custom-icon">LinkedIn Abyss</span>
            </label>
            <label class="cursor ps-4 pb-3" style="display: flex; padding: 2px;">
                <input type="radio" class="option-radio" name="answer" value="bored">
                <span class="custom-icon">Scroll of Enchantment</span>
            </label>
            <div class="press-start container d-flex justify-content-center mt-2">
                <div calss="container">
                    <span class="space-container">
                        <span class="space-text green-button" style="color: white; font-weight: 100;">Start</span>
                        <img src="static/img/blue_start.png" alt="Spacebar" id="space_bar"
                            style="width: 100px; border: 3px;">
                    </span>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
